{% extends 'base.html.twig' %}
{% block title %}
    Категории - {{ parent() }}
{% endblock %}

{% block body %}
Category: {{ category.name }}<br>
Page: {{ page }}<br>

Продукты:
{% for product in category.products %}
    <hr>
    <a href="{{ path('product_show', {'id': product.id}) }}">
        {{ product.name }} - {{ product.price|number_format(2, ',', ' ') }}
    </a>
{% endfor %}
{% endblock %}
